[submodule "Retroalimentacion/webpage_cv/Blog_app"]
	path = Retroalimentacion/webpage_cv/Blog_app
	url = https://github.com/Memo9494/Blog_app.git
[submodule "Evidencias al Socio/Blog_app"]
	path = Evidencias al Socio/Blog_app
	url = https://github.com/Memo9494/Blog_app.git
[submodule "Codigo/web/School_control_web"]
	path = Codigo/web/School_control_web
	url = https://github.com/Memo9494/School_control_web.git
[submodule "Final/School_control_web"]
	path = Final/School_control_web
	url = https://github.com/Memo9494/School_control_web.git
[submodule "azure_deploy"]
	path = azure_deploy
	url = https://github.com/Memo9494/maspruebas.git
[submodule "Final/azure_deploy1"]
	path = Final/azure_deploy1
	url = https://github.com/Memo9494/maspruebas.git
