{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="post-entry">
            <h2 class="mb-4"> Información del curso </h2>
            <h3>{{ course_obj.name }}</h3>
            <p class="mb-4">{{ course_obj.description }}</p>

            <div class="col-md-6">
                <h4> Maestros </h4>
                <ul class="list-group">
                    {% for i in teacher_obj %}
                        <li class="list-group-item">{{ i.first_name }} - {{ i.last_name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

            <div class="mt-4">
                <h4> Alumnos </h4>
                <ul class="list-group">
                    {% for alumni in alumni_obj %}
                        <li class="list-group-item">{{ alumni.first_name }} - {{ alumni.last_name }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h4> Asistencia </h4>
                    <ul class="list-group">
                        {% for i in attendance_obj %}
                            <li class="list-group-item">{{ i.user }} - {{ i.is_attended }}</li>
                        {% endfor %}
                    </ul>
                    {% if user.is_staff %}
                        <a href="{% url 'take_attendance' pk=pk %}">Tomar Asistencia</a>
                    {% endif %}
                </div>
                

                <div class="col-md-6">
                    <h4> Participación </h4>
                    <ul class="list-group">
                        {% for i in participation_obj %}
                            <li class="list-group-item">{{ i.user }} - {{ i.amount }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>


        </div>
    </div>
{% endblock content %}
