{%extends 'base.html'%}
{%block title %} Home {%endblock title%}
{%block content%}
{% if user.is_authenticated %}
    Hi {{user.username}}! Welcome, have a look of your classes
    {% for course_obj in user.courses.all %}
        <div class="course">
            <h2><a href="{% url 'course_detail' course_obj.pk %}">{{ course_obj.name }}</a></h2>
        </div>
    {% endfor %}

    You have {{user.age}}
{% else %}
    <p>You are not Logged in </p>
    <a href="{%url 'login'%}">Login</a> |
    <a href="{%url 'signup'%}">Signup</a>
{% endif %}
{%endblock content%}
